@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
}

.form-check-input:checked {
  background-color: var(--bs-teal);
  border-color: var(--bs-teal);
}

.card-header {
  background-color: var(--bs-teal);
  color: white;
}

#status {
  color: var(--bs-teal);
  font-weight: bold;
}
