._ak8j {
  filter: blur(10px);
}

._ak8j:hover {
  filter: blur(0px);
}

._ak8q {
  filter: blur(10px);
}

._ak8q:hover {
  filter: blur(0px);
}

._ak8h {
  filter: blur(10px);
}

._ak8h:hover {
  filter: blur(0px);
}
